<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       default-autowire="byType"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
	   	http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 用于激活那些已经在spring容器里注册过的bean -->
    <context:annotation-config />
    <!-- 扫描代码包，将所有组件注入到spring容器 -->
    <context:component-scan base-package="com.github">
    </context:component-scan>
    <!-- AOP切面开关 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 定时任务定义 -->
    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="10"/>
    <task:annotation-driven executor="executor" scheduler="scheduler"/>

    <!-- 是不是debug模式 -->
    <bean id="debug" class="java.lang.Boolean">
        <constructor-arg type="boolean" value="false"></constructor-arg>
    </bean>

</beans>